@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 25vh 3fr;
}

.first-con {
  grid-row: 1 / 3;
  padding: 1rem;
  background-color: #219ebc;
  color: white;
}

.second-con {
  grid-row: 1 / 2;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 1.3rem 2rem;
}

.third-con {
  grid-row: 2 / 3;
  background-color: #e9ecef;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.header > span {
  font-size: 1.5rem;
}

.sidebar > a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.sidebar > a:hover {
  background-color: #8ecae6;
  transition: all 0.5s;
}
a > span {
  margin-right: 0.5rem;
}

.last {
  margin-bottom: 2rem;
}

.second-con-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search > span {
  font-size: 1.5rem;
}

input {
  width: 400px;
  border: none;
  background-color: #e9ecef;
  border-radius: 20px;
  padding: 0.5rem;
  margin-right: 350px;
}

.profile {
  width: 20%;
  border-radius: 50%;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.p-smaller {
  width: 10%;
}

.con-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  background-color: #219ebc;
  color: white;
  margin-left: 1rem;
}

button:hover {
  background-color: #8ecae6;
  transition: all 0.5s;
}

.third-con {
  padding: 1.3rem 1rem;
  display: flex;
  justify-content: space-evenly;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  width: 300px;
}

.announce-card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  margin-bottom: 1rem;
}

.second {
  padding: 1rem 0;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}

.paragraph > p {
  font-size: 0.7rem;
}

.card-text > p {
  font-size: 0.7rem;
}

.card-icon {
  text-align: right;
}

.card-icon > span {
  font-size: 1.3rem;
  padding: 10px;
}

.card-icon > span:hover {
  background-color: #e9ecef;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}

.card-title {
  margin-bottom: 0.5rem;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending-card {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.img-trending {
  width: 20%;
  border-radius: 50%;
}

.trending-name > p {
  font-size: 0.7rem;
}
